[Desktop Entry]
Name=PL-2.2-Banner

X-Desktop-PluginInfo-Name=PL-2.2-Banner
X-Desktop-PluginInfo-Author=usnotv
X-Desktop-PluginInfo-Web=
X-Desktop-PluginInfo-License=GNU General Public License v3.0
